DBS/*.pdf
/Project/Program/GANNAI/GANNAI/bin/Debug/GANNAI.vshost.exe
/Project/Program/GANNAI/GANNAI/bin/Debug/GANNAI.vshost.exe.manifest
/Project/Program/GANNAI/WebBrowser/obj/x86/Debug/*.cache
/Project/Program/GANNAI/NeuralNetwork/obj/x86/Debug/*.cache
*.cache
*.exe
*.pdb
*.dll
*.txt
*.config
*.resources
*.manifest
